ul{
    list-style-type: decimal;
    list-style-position: outside;
}
body{
    background-color: cornflowerblue;
}

h1{
    text-align: center;
}

h3{
    font-size: 24pt;
    color: #cc0000;
}

h4{
    text-decoration: underline;
    font-size: 18pt;
    color: #734d26;
}

li{
    font-size: 14pt;
    font-weight: bold;  
}

p{
    width: 43vh;
    font-weight: bold;
    border-radius: 3px;
    border-style: outset;
    background-color: rgb(255, 79, 79);
    color: white;
}

button{
    border-radius: 3px;
    background-color: rgb(255, 79, 79);
    color: white;
}
button:hover{
    cursor: pointer;
}

input{
    border-radius: 3px;
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    margin-bottom: 5px;

}